<style>
    table {
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th:first-letter,
    td::first-letter {
        text-transform: uppercase;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f2f2f2;
    }
</style>

{% extends 'calculator/base.html' %}

{% block content %}

<h2>Resultado da Calculadora de Economia de Energia</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Tipo de Tarifa</th>
            <th>Taxa da Distribuidora</th>
            <th>Economia Anual</th>
            <th>Economia Mensal</th>
            <th>Desconto Aplicado (%)</th>
            <th>Cobertura (%)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ resultados.nome }}</td>
            <td>{{ resultados.cidade }}</td>
            <td>{{ resultados.estado }}</td>
            <td>{{ resultados.tipo_tarifa }}</td>
            <td>{{ resultados.tarifa_distribuidora }}%</td>
            <td>{{ resultados.economia_anual }}</td>
            <td>{{ resultados.economia_mensal }}</td>
            <td>{{ resultados.desconto_aplicado }}%</td>
            <td>{{ resultados.cobertura }}%</td>
        </tr>
    </tbody>
</table>

{% endblock %}